[submodule "core"]
	path = core
	url = https://github.com/isel-remote-lab/core.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/isel-remote-lab/frontend.git
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/isel-remote-lab/documentation.git
	branch = main